h1 {
background-color: gray;
color: white;
border-bottom: black 1px solid;
}

section.snack-group {
  border: black 3px solid;
  border-radius: 25px;
  margin: 20px 45px;
  padding: 20px;
  /*clear: both;*/
  overflow: hidden;
  display: inline-block;
}

section.snack-list article {
  display: inline-block;
  /*clear: both;*/
}

section.snack-list article img {
  float: left;
  width: 33%;
}

h4.snack-num {
  /*display: inline-block;*/
  clear: both;
}

footer {
  clear: both;
}

footer h4, p {
  padding: 15px;
  display: inline;
}
